# 🌱 Java & Maven
target/
*.class
*.jar
*.war
*.ear

# 🚫 IDEs
*.iml
.idea/
*.log

# 🔐 Configs e sensíveis
*.env
*.db
*.key
*.pem

# 💻 SOs
.DS_Store
Thumbs.db

# 📦 Node.js (caso tenha parte frontend com npm/yarn)
node_modules/

# 🧪 Testes e temporários
.vscode/
*.test.*
*.tmp
